@model WebApplication.Models.Deliverer

@{
    ViewData["Title"] = "Deliverer";
}

<h1>Deliverer</h1>

<div>
    <h4>Deliverer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelivererID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelivererID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOrdersAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOrdersAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
